[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.12.4<3.13"
Django = "<3.3,>=3.2.4"

[dev-packages]

[requires]
python_version = "3.9"
